<link rel="import" href="../html.html">

<polymer-element name="sl-searcher" extends="sl-base" attributes="query">
    <template>
        <link href="css.css" rel="stylesheet" />
        <div>
            <div>
                <label for="text">text</label>
                <input id="text" value="{{text}}" />
            </div>
            <div>
                <label for="startTime">startTime</label>
                <input id="startTime" type="date" value="{{startTime}}">
            </div>
            <div>
                <label for="endTime">endTime</label>
                <input id="endTime" type="date" value="{{endTime}}">
            </div>
            <div>
                <label for="maxResults">maxResults</label>
                <input id="maxResults" type="range" max="10000" value="{{maxResults}}">
                <span>{{maxResults}}</span>
            </div>
        </div>
    </template>
    <script src="js.js"></script>
</polymer-element>
