<link rel="import" href="../html.html">
<link rel="import" href="../sl-searcher/html.html">
<link rel="import" href="../sl-dbobject/sl-history/html.html">
<link rel="import" href="../sl-dbobject/sl-visit/html.html">

<polymer-element name="sl-x" extends="sl-base">
    <template>
        <link href="css.css" rel="stylesheet" />
        <div>
            <sl-searcher query="{{query}}"></sl-searcher>
            <button on-click="{{onClick}}">search</button>
        </div>
        <ul>
            <!--<template repeat="{{visits}}">
                <li>{{visitTime | shortenDate}}-{{history.title}}-{{history.url}}</li>
            </template>-->
            <!--<template repeat="{{h in history}}">
                <li>
                    <sl-history original="{{h}}" on-deleted="{{onHistoryDeleted}}"/>
                </li>
            </template>-->
            <template repeat="{{v in visits}}">
                <li>
                    <sl-visit original="{{v}}" />
                </li>
            </template>
        </ul>
    </template>
    <script src="js.js"></script>
</polymer-element>
